@media (max-width:768px) {
    #abt-wrapper{
        #button113{
            font-size: 15px;
        }
        #pics{
            width: 19%;
        }
        #abt-text{
            gap: 80px;
            h1{
                font-size: 25px;
            }
            p{font-size: 13px;}

        }
    }
}
@media (max-width:425px) {
    #abt-wrapper{
        #button113{
            font-size: 10px;
        }
        #pics{
            width: 19%;
        }
        #abt-text{
            gap: 80px;
            h1{
                font-size: 25px;
            }
            p{font-size: 13px;}

        }
    }
}