@media (max-width:320px) {
    section{
        flex-wrap: wrap;
     .value-box{
        display: none;
     }
    }
}
@media (max-width:425px) {
    section{
        flex-wrap: wrap;
     .value-box{
        display: none;
     }
    }
}