@media (max-width:768px) {
    #wrapper0{
        height: 30vh;
        #button116{
            font-size: 15px;
        }
    }
}
@media (max-width:320px) {
    #wrapper0{
        flex-direction:column-reverse;
        span{
            display: none;
        }
        p{
            width: 100%;
        }
        #text3{
            width: 80%;
        }
    }
}

@media (max-width:425px) {
    #wrapper0{
        align-items: center;
       background-color: #fff;
        flex-direction:column-reverse;
        span{
            display: none;
        }
        p{
            width: 100%;
        }
        #text3{
            width: 80%;
        }
    }
}