@media (max-width:768px) {
    #nav{
        #links{
          #Menu{
          
            visibility: hidden;
            #menu1{
                visibility: hidden;
              }
          }
        }
        }
    #nav{
        .logo{
            width: 27%;
        }
        #links{
            padding-right: 10px;

            #button11{
                font-size: 10px;
               
            }
            font-size: 5px;
            ul{
                gap: 10px;
                li{
                    font-size: 5px;
                }
                #li{
                    font-size: 5px;   
                }
            }
        }
    }
}
@media (max-width:425px) {
    #nav{
        .logo{
width: 100%;
        }
     #links{
        ul{
            display: none;
        }
        #button11{
            visibility: hidden;
        }
       
     }
     #Menu{
           
        visibility:visible;
        }
    }
  }
  @media (max-width:320px) {
    #nav{
     #links{
        ul{
            display: none;
        }
        #button11{
            display: none;
        }
      
     }
     #Menu{
           
        visibility:visible;
        }
    }
  }