@media (max-width:768px) {
    #P-wrapper{
        #button114{
            font-size: 15px;
        }
height: 40vh;
    }
}
@media (max-width:320px) {
 #P-wrapper{
margin-bottom:300px ;
    #text2{
        h1{
            margin: 0;
        }
     
    }
    #products{
margin-top: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .card1{
       #type{
        width: 63%;

       }
            width: 70%;
#item{
  width: 90%;
}
        }
    }
 }   
}